.b-solution-options.i-unselective
  ul
        
    li.b-so__i( data-disabled="Эту позицию нельзя удалить из заказа.")
      input.b-so__checkbox(
        type="checkbox"
        name="order[]"
        value="val1"
        checked=true
      )
      .b-so__name Лицензия «Готовый интернет-магазин Seller»
      .b-so__price
        span.b-so__price-num 17 000
        span.b-so__price-unit руб.
        
    li.b-so__i
      input.b-so__checkbox(
        type="checkbox"
        name="order[]"
        value="val2"
        checked=true
      )
      .b-so__name Лицензия Лицензия «1С-Битрикс: Управление сайтом»
          
      .b-so__price
        span.b-so__price-num 27 900
        span.b-so__price-unit руб.
        
    li.b-so__i
      input.b-so__checkbox(
        type="checkbox"
        name="order[]"
        value="val3"
        checked=true
      )
      .b-so__name Хостинг 1 год (3 Гб)
      .b-so__price
        span.b-so__price-num 3 000
        span.b-so__price-unit руб.
      
  hr.i-size-L

  .b-so__summ
    span.b-so__summ-num 56 000
    span.b-so__summ-unit руб.
