label.b-checkbox

  span.b-checkbox__icon
  
  input.b-checkbox__input(
    type="checkbox"
    name="checkbox[]"
    value="val"
    checked=true
    required=true
  )
  
  span.b-checkbox__text
    block text
      |Лицензионное соглашение «1С-Битрикс: Управление сайтом»

