.b-pay-options

  label.b-po__i.i-bank.i-active
    input(
      type="radio"
      name="pay"
      value="bank"
    )
    span.b-po__icon.i-bank
    |Банковский
    br
    |счет
    
  label.b-po__i.i-card
    input(
      type="radio"
      name="pay"
      value="card"
    )
    span.b-po__icon
    |Кредитная
    br
    |карта
    
  label.b-po__i.i-yandex
    input(
      type="radio"
      name="pay"
      value="yandex"
    )
    span.b-po__icon
    |Яндекс
    br
    |деньги
